@media only screen and (max-width: 768px) {
    .prl-bed{
        width: 640px !important;
        height: 640px !important;
    }
}

.prl-container{
    width: 100%;
    background: #f3f3ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.prl-bed{
    width: 912px;
    height: 912px;
    background: rgb(27, 27, 27);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    position: relative;
}

.prl-bed-img-container{
    position: absolute;
    width: 33%;
}

.prl-bed img{
    width: 100%;
    height: auto;
    filter: brightness(0.9);
}

.prl-bed-text{
    position: absolute;
    bottom: 32px;
    left: 52px;
    font-size: 1.4rem;
}

.prl-bed-bg{
    z-index: 1;
    position: absolute;
    width: 400px;
    height: 100px;
    transform: translateY(-15px);
    transition: 0.2s ease-in-out;
    border: 3px solid rgba(0, 0, 0, 0);
}

.border:hover .prl-bed-bg{
    border: 3px solid rgb(255, 255, 255);
}

.prl-canvas{
    z-index: -1;
    position: absolute;
    transform: translateY(0px) translateX(-200px);
}

.prl-bed-svg{
    z-index: 1;
    width: max-content;
    height: max-content;
}


.stroke-animation{
    z-index: 0;
    position: absolute;
    font-family: "Source Code Pro";
    font-size: 64px;
    stroke: black;
    stroke-width: 7px;
    color: #00000000;
    animation: stroke 400ms forwards;
    user-select: none;
    transition: 0.2s ease-in-out;
}

.border:hover .stroke-animation{
    stroke: white;
}

@keyframes stroke {
    from {
      stroke-dasharray: 0 50%;
    }
    to {
      stroke-dasharray: 50% 0;
    }
  }

.prl-bed-end {
    width: 50%;
    height: 50px;
    background: rgb(27, 27, 27);
    position: relative;
    overflow: hidden;
  }
  
  .prl-bed-end:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color:#f3f3ee;
    transform: skew(45deg);
    transform-origin: bottom left;
  }
  
  .prl-bed-end:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #f3f3ee;
    transform: skew(-45deg);
    transform-origin: bottom right;
  }

