.main{
    margin-bottom: 10%;
    font-family: "Special Elite";
}

.socials{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.socials a {
    cursor: url('../icons/cursor/cursor_pointer.png'), pointer;
    text-decoration: none;
    color: rgb(25, 25, 25);
}

.main_img_container{
    display: flex;
    margin: 24px;
    align-items: center;
    font-size: 125%;
}

.main_img_container img{
    max-width: 42px;
    margin-right: 8px;
}


.link_button{
    border-bottom: dotted 2px black;
    text-align: left;
    width: max-content;
    margin-top: 16px;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
    cursor: url('../icons/cursor/cursor_pointer.png'), pointer;
}
  
.link_button:hover{
    color: rgb(163, 8, 8);
    border-bottom: dotted 2px rgb(163, 8, 8);
}

.main_title{
    font-size:  4rem;
    max-width: 50%;
    text-align: left;
}

.title_container{
    display: flex;
    justify-content: center;
}

 @media only screen and (max-width:768px) {
    .title_container{
        display: flex;
        flex-direction: column;
    }

    .title_left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        margin-bottom: 36px;
    }

    .pfp{
        width: 100% !important;
    }

    .socials{
        flex-direction: column;
        align-items: center;
    }
 }

.title_left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pfp{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pfp img{
    width: 256px;
    height: 420px;
}