@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');

.Programming_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.programming_project_item{
    width: 1024px;
    border: dashed 2px black;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.programming_project_row1{
    display: flex;
    flex-direction: row;
}

.additional_images_container{
    display: flex;
    margin-top: 12px;
    padding-top: 12px;
    justify-content: space-evenly;
    margin-left: 5%;
    width: 90%;
    border-top: solid 2px black;
}

.additional_images_container img{
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.programming_project_column1{
    flex: 1 0 auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.programming_project_title{
    font-size: 2rem;
    border-bottom: 2px solid black;
}

.programming_project_description{
    font-size: 1.15rem;
    flex-grow: 1;
}

.programming_project_link{
    text-decoration: none;
    color: brown;
    width: max-content;
    font-size: 1.25rem;
}

.programming_project_image{
    width: 40%;
    padding: 8px;
    box-sizing: border-box;
}