.stickers{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.trans_anarchy{
  position: absolute;
  width: 10%;
  top: 20%;
  left: 12%;
  transform: rotate(-25deg);
  opacity: 0.95;
}

.trans_flag{
  position: absolute;
  width: 12%;
  top: 20%;
  right: 12%;
  transform: rotate(25deg);
  opacity: 0.95;
}

.berry{
  position: absolute;
  width: 8%;
  top: 20%;
  right: 10%;
  transform: rotate(-4deg);
  opacity: 0.95;
}

.skate{
  position: absolute;
  width: 10%;
  bottom: 20%;
  right: 10%;
  transform: rotate(6deg);
  opacity: 0.95;
  padding: 8px;
  /* Sticker Form
  background-color: rgba(255, 255, 255, 0.8);
  border: solid rgba(255, 255, 255, 0.8) 2px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  */
}

.toothless{
  position: absolute;
  bottom: 2%;
  left: 3%;
  width: 6%;
}
